@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-text: linear-gradient(89.97deg, #c471ed, #f64f59);

	--gradient-background: linear-gradient(to bottom right, #e4e6ff 0%, white 40%, #e4ebff 100%);

	--toastify-color-light: var(--gradient-background);
	--toastify-color-progress-success: transparent;
	--toastify-icon-color-success: #09090B;
}

.gradient__text {
	background: var(--gradient-text);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

html {
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	background-image: var(--gradient-background);
}

@layer base {
	body {
		@apply dark:bg-none dark:bg-[#0e0e10]
	}
	h1,h2,h3,h4,h5,h6 {
		@apply dark:text-zinc-50
	}
	.menu {
		@apply dark:bg-gradient-to-b from-[#0e0e1071] via-[#0e0e109f] to-[#0e0e1071] bg-no-repeat
	}
	.link {
		@apply dark:bg-[#ffffff15]
	}
}

h1,h2,h3,h4,h5,h6 {
	cursor: default;
}

p {
	cursor: default;
}

.menu {
	background: linear-gradient(to bottom, rgba(228, 230, 255, .6) 0%, rgba(255, 255, 255, 0.8) 40%, rgba(228, 230, 255, 0.6) 100%);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
}

.link {
	background: rgba(255, 255, 255, .8);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(1px);
	-webkit-backdrop-filter: blur(1px);
}

::-webkit-scrollbar {
  width: 0.625rem;
  height: 0.625rem;
	border-radius: 15px;
}

/* prettier-ignore */
::-webkit-scrollbar-thumb {
  @apply bg-zinc-300 dark:bg-zinc-50 rounded-lg
}