@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-text: linear-gradient(89.97deg, #c471ed, #f64f59);

	--gradient-background: linear-gradient(to bottom right, #e4e6ff 0%, white 40%, #e4ebff 100%);

	--toastify-color-light: var(--gradient-background);
	--toastify-color-progress-success: transparent;
	--toastify-icon-color-success: #09090B;
}

.gradient__text {
	background: var(--gradient-text);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

html {
	scroll-behavior: smooth;
}

body {
	background-image: var(--gradient-background);
}

.menu {
	background: linear-gradient(to bottom, rgba(228, 230, 255, .6) 0%, rgba(255, 255, 255, 0.8) 40%, rgba(228, 230, 255, 0.6) 100%);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
}

.link {
	background: rgba(255, 255, 255, .8);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(1px);
	-webkit-backdrop-filter: blur(1px);
}